.common.head-line {
    background-color: #FFFFFF;
    border-bottom: 1px solid #666666;
}
p#user-name {
    color: #43341B;
}

p.annotation {
    font-size:0.8rem;
    font-style:italic;
    color:#CC3636;
    margin-left:1rem;
}
p.annotation:before {
    content:'※';
    margin-left:-1rem;
}

div.to-page-top {
    display:none;
    right: 4rem;
    background-color:#FFFFFF;
}

div.to-page-top a {
    display:block;
}

div.toc {
    position: fixed;
    bottom: 1rem;
    right: 0;
    z-index: 1004;
}

div.toc button{
    margin:0;
}

div#azuki-table-of-contents {
    width: 350px;
    max-width: 100vw;
    max-height: 100vh;
    background-color: #F5F5F5;
    padding-top: 1rem;
    padding-left: 2rem;
    position: fixed;
    right: -350px;
    bottom: 0;
    z-index: 1004;
    overflow-y:auto;
    text-align:right;
}

div#azuki-table-of-contents ul{
    list-style:decimal;
    text-align:left;
}

button.close-toc {
}

h2 {
    padding-left:1rem;
    border-left: 2rem solid #43341B;
    border-bottom:1px solid #43341B;
}

h3 {
    padding-left:2rem;
    border-left: 1rem solid #53442B;
    border-bottom:1px solid #53442B;
}

h4 {
    padding-left:2.5rem;
    border-left: 0.5rem solid #63543B;
    border-bottom:1px solid #63543B;
}

h5 {
    padding-left:2.9rem;
    border-left: 0.1rem solid #63543B;
    border-bottom:1px solid #63543B;
}

h6 {
    padding-left:3rem;
    border-left: 1px solid #63543B;
    border-bottom:1px solid #63543B;
}


div.section-block {
    margin-bottom:1.5rem;
}
div.section-block::before,
div.section-block::after {
    display: table;
    content: ' ';
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}


pre code.block {
    display: inline-block;
    min-width: 100%;
    overflow-x:auto;
    padding: 1rem 2rem 1rem 3rem;
    border:1px solid #7195a8 !important;
    margin: 0.5rem 0;
}

code.prettyprint.linenums ol.linenums {
    border-left: 1px solid #7195a8;
}

p.command {
    color:#FFFFFF;
    background-color:#000000;
    padding:1rem 0.5rem;
    overflow-x:auto;
    white-space: nowrap;
}


pre.command {
    color:#FFFFFF;
    background-color:#000000;
    padding:1rem 0.5rem;
    overflow-x:auto;
    white-space: nowrap;
}


ul.no-decoration {
    margin-left:0;
}

ul.no-decoration li {
    list-style:none;
}

img.snap {
    margin-bottom: 5px;
    border:1px solid #CFCFCF;
    box-shadow: 5px 5px #CFCFCF;
}

p.line-through {
    text-decoration: line-through;
}
